.isotope-gallery {
    margin: -1rem;
}

.isotope-gallery a {
    float: left;
    width: 100%;
    height: auto;
    margin: 1rem 0rem; 
    overflow: hidden;
}

.isotope-gallery img {
    display: inline-block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.isotope-gallery > a > .caption,
.isotope-gallery > div > .caption,
.isotope-gallery > figure > .caption {
    display: block;
    position: absolute;
    top: 2rem;
    padding: 0rem 2rem;
    left: 0;
    right: 0;
    font-size: 16px;
    opacity: 0;
}

.isotope-gallery .photo-title {
    font-size: 16px;
}


.isotope-gallery > a:hover > .caption,
.isotope-gallery > div:hover > .caption,
.isotope-gallery > figure:hover > .caption {
    opacity: 1;
}

.isotope-gallery a:hover img {
	opacity: 0.5;
}

/* Set up the transitions */
.isotope-gallery a:hover .caption,
.isotope-gallery a:hover img 
 {
	-webkit-transition: opacity 0.15s ease-out;
	   	-ms-transition: opacity 0.15s ease-out;
	   	 -o-transition: opacity 0.15s ease-out;
	   	 	transition: opacity 0.15s ease-out;
}